.tpe-submit {
    background-color: #76DE5D;
    background-image: none;
    border: 0;
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;

    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
    -ms-transition: All 0.3s ease;
    transition: All 0.3s ease;
}

.tpe-submit:hover {
    background-color: #0090a0 !important;
}

.tpe-submit img {
    margin-top: 8px;
}

.tpe-submit:hover, .tpe-submit:active, .tpe-submit:focus {
    background-color: #4F9A3A;
}

.checkout-types.top .tpe-submit {
    margin-top: 0 !important;
}

.checkout-types.top .btn-proceed-checkout {
    line-height: 20px;
    padding: 10px 15px;
}

#p_method_touch_touchexpress, label[for="p_method_touch_touchexpress"], #container_payment_method_touch_touchexpress {
    display: none;
}


#mini-cart .tpe-submit {
    width: 100%;
    height: 40px;
    line-height: 40px;
    float: none !important;
}

#mini-cart .tpe-submit + div {
    text-align: right;
}

/******* Promotional material *******/

.touch-cart-banner,
.touch-product-banner {
    margin-top: 10px;
    cursor: pointer;
    color: #45BED3;
    display: inline-block;
    width: 100%;
    font-family: 'Roboto Condensed', georgia, serif;
    margin-right: 2%;
    padding: 2.5%;
    text-align: left;
    background: #f5f5f5;
    position: relative;
}

.touch-product-banner {
    border: 1px solid #ccc;
    padding: 5% 2% 2% 2%;
    margin-bottom: 20px;
}

.touch-product-banner h3,
.touch-cart-banner h3{
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}

.touch-cart-banner ol {
    padding-left: 2.5%;
    font-size: 16px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.touch-cart-banner li {
    margin-bottom: 5px;
}

.touch-cart-banner p,
.touch-product-banner p {
    padding-left: 15px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 12px;
    color: #878787;
    text-transform: none;
    line-height: 18px;
}

.touch-product-banner p {
    padding-left: 0;
    text-align: center;
    line-height: 14px;
    margin: 3px 0 !important;
}

.touch-cart-banner .counter
{
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;

    border-radius: 40px;
}

.touch-cart-banner .counter {
    border: 1px solid #45BED3;
    margin-top: -4px;
    vertical-align: middle;
}

p.what-is-touch {
    font-size: 10px;
    text-align: center;
    color: #45BED3;
    text-transform: uppercase;
}
